@page "/"

@inject cakeGqlClient _cakeGqlClient


<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


@foreach (var cake in allCakes )
{
    <li>@cake.Id</li>
    <li>@cake.Flavor</li>
}

@code{

    List<CakeDto> allCakes = new List<CakeDto>();

    protected override async Task OnInitializedAsync()
    {

        var result = await _cakeGqlClient.GetCakes.ExecuteAsync();

            allCakes = result.Data.Cakes.Select(c => new CakeDto{
                Id = c.Id,
                Flavor = c.Flavor
            }).ToList();
    }
}
   
